<!-- <div class="container-fluid p-0 d-flex" id="login_screen" [ngStyle]="{ height: winSize }">
    <div class="side-panel">
        <section class="reset_section">
          <div class="login_header">
              <h1>Reset Password</h1>
          </div>
          <div class="login_form">
            <form name="form" [formGroup]="resetFrom">
                <div class="row group" style="overflow:hidden">
                    <input type="password" formControlName="newPassword" [class.is_invalid]="resetFrom.get('newPassword').touched && resetFrom.get('newPassword').invalid"  placeholder="New Password"/>
                    <div *ngIf="resetFrom.get('newPassword').touched && resetFrom.get('newPassword').invalid" class="invalid-feedback text-left d-block">
                        <div *ngIf="resetFrom.get('newPassword').errors.required">
                            New Password is required
                        </div>
                        <div *ngIf="resetFrom.get('newPassword').errors.minlength">
                            Password must be atleast 8 characters
                        </div>
                        <div *ngIf="resetFrom.get('newPassword').errors.maxlength">
                            Password must be less than or equal to 18 characters
                        </div>
                        <div *ngIf="resetFrom.get('newPassword').errors.password">
                            <span style="word-wrap: break-word">
                              Password should contain atleast one special character, upper case letter, lower case letter and a number
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row group" style="overflow:hidden">
                    <input type="password" formControlName="confirmPassword"
                    [class.is_invalid]="resetFrom.get('confirmPassword').touched && resetFrom.get('confirmPassword').invalid"  placeholder="Confirm Password"/>
                    <div *ngIf="resetFrom.get('confirmPassword').touched && resetFrom.get('confirmPassword').invalid" class="invalid-feedback text-left d-block">
                        <div *ngIf="resetFrom.get('confirmPassword').errors.required">
                            Confirm Password is required
                        </div>
                    </div>
                    <div *ngIf="resetFrom.get('confirmPassword').touched && resetFrom.get('confirmPassword').valid && resetFrom.errors && resetFrom.errors['passwordMatch']" class="invalid-feedback text-left d-block" style="display: block;">
                        Password entered does not match.
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-6 py-1">
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary float-right" [disabled]="!resetFrom.valid || resetStarted" (click)="onResetSubmit()">
                          Reset
                        </button>
                    </div>
                </div>
            </form>
          </div>
        </section>
    </div>
    <div class="img-section">
        <img alt = " " src="assets/images-new/login_model.jpg" style="width: 100%; height: 100%;" alt="Work_Flow_Management"/>
    </div>
    <div class="error-card" [class.error-visible]="resetFailed">
        <div class="d-flex justify-content-center" style="width: 100%;">
            {{ errorMessage }}
        </div>
    </div>
</div> -->

<div id="login_screen">
    <div class="limiter">
        <div class="container-login100 justify-content-center">
            <div class="d-block">
                <div class="wrap-logo">
                    <img src="./../../../../../assets/images-new/PROMT Logo 3.png" style="width:200px; margin-top: 10px; margin-bottom: 10px;">
                </div>
                <div class="d-flex wrap-inner-box position-relative">
                    <div class="login100-more d-flex justify-content-center">
                        <!--/ Carousel Star /-->
                        <div class="w3-content w3-section my-auto">
                            <div class="mySlides">
                                <img src="./../../../../../assets/images-new/story-1.jpg" style="width:100%;">		
                            </div>
                            <div class="mySlides">
                                <img src="./../../../../../assets/images-new/story-2.jpg" style="width:100%;">
                            </div>
                            <div class="mySlides">
                                <img src="./../../../../../assets/images-new/story-3.jpg" style="width:100%; ">
                            </div>
                            <div class="mySlides">
                                <img src="./../../../../../assets/images-new/story-4.jpg" style="width:100%; ">
                            </div>
                            <div class="mySlides">
                                <img src="./../../../../../assets/images-new/story-5.jpg" style="width:100%;">
                            </div>
                        </div>
                          
                          <!--/ Carousel end /-->
                    </div>
                    <div class="wrap-login100 bg-container" style="padding: 8% 7%;">
                        <div class="wrap-login-form">
                            <form [formGroup]="resetFrom" class="login100-form validate-form">
                                <span class="login100-form-title ">
                                    Reset Password
                                </span>
    
                                <div class="wrap-input100">
                                    <span class="label-input100">New Password</span>
                                    <input type="password" class="input100 input-password" formControlName="newPassword" placeholder="********" />
                                    <span class="focus-input100"></span>
                                    <div *ngIf="resetFrom.get('newPassword').touched && resetFrom.get('newPassword').invalid"
                                        class="error-msg" style="top: 57px;">
                                        <div *ngIf="resetFrom.get('newPassword').errors.required">
                                            New Password is required
                                        </div>
                                        <div *ngIf="resetFrom.get('newPassword').errors.minlength">
                                            Password must be atleast 8 characters
                                        </div>
                                        <div *ngIf="resetFrom.get('newPassword').errors.maxlength">
                                            Password must be less than or equal to 18 characters
                                        </div>
                                        <div *ngIf="resetFrom.get('newPassword').errors.password">
                                            <span style="word-wrap: break-word">
                                                Password should contain atleast one special character, upper case letter, lower case letter and a number
                                            </span>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="wrap-input100">
                                    <span class="label-input100">Confirm Password</span>
                                    <input type="password" class="input100 input-password" formControlName="confirmPassword" placeholder="********" />
                                    <span class="focus-input100"></span>
                                    <div *ngIf="resetFrom.get('confirmPassword').touched && resetFrom.get('confirmPassword').invalid"
                                        class="error-msg" style="top: 57px;">
                                        <div *ngIf="resetFrom.get('confirmPassword').errors.required">
                                            Confirm Password is required
                                        </div>
                                    </div>
                                    <div *ngIf="resetFrom.get('confirmPassword').touched && resetFrom.get('confirmPassword').valid && resetFrom.errors && resetFrom.errors['passwordMatch']"
                                        class="error-msg" style="top: 57px;">
                                        Password entered does not match.
                                    </div>
                                </div>
    
                                <div class="container-login100-form-btn mt-15">
                                    <button class="login100-form-btn" [disabled]="!resetFrom.valid || resetStarted"
                                        (click)="onResetSubmit()">
                                        Reset
                                    </button>
                                </div>
                                <div class="forgot-password-link">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="error-card" [class.error-visible]="resetFailed">
        <div class="d-flex justify-content-center" style="width: 100%;">
            {{ errorMessage }}
        </div>
    </div>
</div>