<div class="mt-60" id="enrollment-landing">
  <div class="">
    <div class="d-flex">
      <div class="block-title mr-auto">My Task Status</div>
      <div class="d-flex mr-30 pt-2">
        <img class="high-priotity">&nbsp;<span class="request-type">-&nbsp;High Priority</span>
        <img class="medium-priotity ml-10">&nbsp;<span class="request-type">-&nbsp;Medium Priority</span>
      </div>
      <div class="wrap-list-view-chart-view d-flex">
        <div class="list-view" [class.active]="view === 'tile'" (click)="changeView('tile')">
          <div class="icon-list"></div>
        </div>
        <div class="chart-view " [class.active]="view === 'chart'" (click)="myStatus ? changeView('chart') : ''">
          <div class="icon-chart"></div>
        </div>
      </div>
    </div>
    <div class="wrap-cards mt-15"  *ngIf="view === 'tile'">
      <div class="card card-blue pb-2" [ngClass]="'card-' + cardColor[statusType?.status]" *ngFor="let statusType of myStatus; index as i" [class.mt-15]="i > 0">
        <div class="wrap-section-title">
          <div class="section-title">{{statusType?.status}}</div>
          &nbsp;
          <div class="section-title-count" [ngClass]="'card-' + cardColor[statusType?.status] + '-bg'">{{totalData[statusType?.status]}}</div>
        </div>
        <div class="d-grid card-grid-template-column">
          <div class="grid-work-category" *ngFor="let request of statusType?.workCategoryList">
            <div class="request-type d-flex">{{request?.requestType}}&nbsp;<img *ngIf="request?.priority" [class.high-priotity]="request?.priority === 'HIGH'" [class.medium-priotity]="request?.priority === 'MEDIUM'"></div>
            <div class="request-count">{{request?.requestCount}}</div>
            <div class="grid-work-category-hover" (click)="request?.requestCount ? navigateToDetail(statusType?.status, request?.requestType) : ''">
              Open {{request?.requestType}} Detail Page
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-30 wrap-claims-operations" *ngIf="view === 'chart' && myStatus">
      <div class="wrap-claim-count mr-40" style="padding: 10px" *ngFor="let statusType of myStatus">
        <div class="d-flex space-between justify-content-center">
          <div class="section-label">{{statusType?.status}}</div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="this[chartKeys[statusType?.status]]?.length > 0">
          <google-chart #chart [title]="titleStatus" [type]="typeStatus" [data]="this[chartKeys[statusType?.status]]"
            [options]="optionsStatus" [columnNames]="columnNamesStatus" [height]="heightStatus" [width]="widthStatus">
          </google-chart>
        </div>
        <div *ngIf="totalData[statusType?.status] === 0" class="d-flex space-between justify-content-center">
          <p-message severity="warn" text="No Data Present!"></p-message>
        </div>
      </div>
    </div>
    <div class="d-flex mt-30 justify-content-center" *ngIf="view === 'chart'">
      <div class="d-flex justify-content-center mr-30" *ngFor="let item of this.totalConfiguredItems; let i = index">
        <div [style.background-color]="pieColor[i]" style="width: 15px; height: 15px;border-radius: 4px;"></div>
        <span style="font-size:13px">{{ item }}</span>
      </div>
    </div>
  </div>

  <div class="d-flex mt-30">
    <div class="claim-processed-date w-100">
      <form [formGroup]="samplingForm">
        <div class="d-flex space-between ">
          <div class="section-label">Audit Sampling Selection</div>
        </div>
        <div class="d-flex mt-20">
          <div class="attachment-comment-head">Transaction Processed Date</div>
        </div>
        <div class="d-flex mt-10">
          <div class="wrap-input100 w-25 mr-30 ">
            <span class="label-input100">From Date</span>
            <p-calendar appendTo="body" [showIcon]="true" [maxDate]="yesterday" formControlName="from"></p-calendar>
          </div>
          <div class="wrap-input100 w-25 mr-30 ">
            <span class="label-input100">To Date</span>
            <p-calendar appendTo="body" [showIcon]="true" [maxDate]="yesterday" formControlName="to"></p-calendar>
          </div>
          <div class="mt-30">
            <input formControlName="criteriaType" value="AUTO" type="radio" />
            <label class="ml-10 mr-20">Automated Audit Sampling</label>
            <input formControlName="criteriaType" value="MANUAL" type="radio" />
            <label class="ml-10">Manual Audit Sampling</label>
          </div>
        </div>
        <div class="d-flex flex-end mb-12">
          <div class="d-flex mr-20 claim-status">
            <div class="wrap-label">Sample Count</div>
            <div class="count">
              {{
                claimCountDetails?.autoSamplingCount ||
                  claimCountDetails?.manualSamplingCount ||
                  0
              }}
            </div>
          </div>
          <div class="mr-10">
            <div *ngIf="claimCountLoading">
              <img alt=" " src="./../../../../../assets/images-new/loader-gif.gif" alt="loading..."
                style="width: 30px;" />
              Refreshing
            </div>
          </div>
          <div>
            <div class="solid-btn loading" (click)="
                samplingForm.invalid ||
                !(
                  claimCountDetails?.autoSamplingCount ||
                  claimCountDetails?.manualSamplingCount
                ) ||
                addingToClaim
                  ? ''
                  : addTolaimsQueue()
              " [class.disabled]="
                samplingForm.invalid ||
                !(
                  claimCountDetails?.autoSamplingCount ||
                  claimCountDetails?.manualSamplingCount
                ) ||
                addingToClaim
              ">
              Add To Audit Queue
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>