
.wrap-support {
  width: 400px;
  border-radius: 8px;
  background-color: white;
  padding-bottom: 30px;
  margin-top: 30px;
}
.support-header {
  color: #192a3e;
  font-size: 16px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ebeff2;
  padding: 0 30px;
}
