<div class="d-flex cursor-pointer mt-60" href="#">
  <div [routerLink]="'/admin-configuration'">
    <img alt = " " src="./../../../../../assets/images-new/left.png" style="margin-right: 15px; cursor: pointer;">
  </div>
  <div>Back To Configuration</div>
</div>
<div class="d-flex mt-30">
  <div class="wrap-pend-reason w-70 mr-30">
    <div class="d-flex space-between">
      <div>
        <span class="section-title">Reassignment Reason</span><span *ngIf="reasonList?.length > 0" class="section-title-count">{{reasonList.length}}</span>
      </div>
      <div class="search-bar d-flex space-between mr-30">
        <input type="text" class="search-input" (input)="filteTable($event.target.value)" placeholder="Search Reassignment Reason">
        <img alt = " " src="./../../../../../assets/images-new/search.png" style="width: 20px; height: 20px; margin-top: 10px;">
      </div>
    </div>
    <div class="mt-30" *ngIf="reasonList.length > 0">
      <p-table [tableStyle]="{ 'table-layout': 'auto' }" #reasonTable editMode="row" [columns]="cols"
        [value]="reasonList" [paginator]="true" [rows]="10" dataKey="reassignmentReasonCode" [resizableColumns]="true"
        [scrollable]="false">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" id="{{ col.field }}">
              {{col.header}}
            </th>
            <th id="th1"></th>
            <th id="th2"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div class="wrap-input100 mb-0">
                    <input class="input100" type="text" name="name" maxlength="30" [(ngModel)]="rowData.reassignmentReason" required
                      placeholder="Enter Reassignment Reason">
                    <span class="focus-input100"></span>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData.reassignmentReason }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="width: 115px;">
              <div *ngIf="!editing">
                <img alt = " " src="./../../../../../assets/images-new/edit-form.png" pTooltip="Edit" pInitEditableRow
                  title="Edit" (click)="onRowEditInit(rowData, ri)" style="cursor: pointer;margin-top: 12px;">
              </div>
              <div *ngIf="editing">
                <em pSaveEditableRow class="pi pi-check" pTooltip="Save" (click)="onRowEditSave(rowData, ri)"
                  style="cursor: pointer; font-size: 30px; color:#20bc55; margin-top: 12px;"></em>
                <em pSaveEditableRow class="pi pi-times" pTooltip="Cancel" (click)="onRowEditCancel(rowData, ri)"
                  style="cursor: pointer; margin-left: 20px; margin-top: 12px;"></em>
              </div>
            </td>
            <td style="width: 115px;">
              <div>
                <img alt = " " src="./../../../../../assets/images-new/delete.png" pTooltip="Delete"
                  style="cursor: pointer; margin-top: 12px;" (click)="deleteRow(ri)">
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center" [attr.colSpan]="3">
              No reasons available.
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <div class="result-no">
            {{reasonList?.length > 0 ? ('Showing ' + (state.first + 1) +' - ' + (((state.first + state.rows) > reasonList?.length ? (reasonList?.length) : (state.first + state.rows) ) | number) + ' of '+ reasonList?.length) : 'Showing 0 - 0 of 0'}}
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <div class="result-no d-flex">
            <div>Rows per page &nbsp; &nbsp;</div>
            <select class="input100 result-no" style="width: 50px;" [(ngModel)]="reasonTable.rows" [ngModelOptions]="{standalone: true}">
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>
          </div>
        </ng-template>
      </p-table>
    </div>
    <div class="mt-60 text-center" *ngIf="reasonList?.length < 1">
      <p>No Reassignment Reasons Present!! Please Add A Reassignment Reason.</p>
    </div>
  </div>

  <div class="wrap-pend-reason-form w-40">
    <div class="pend-reason-form-header d-flex space-between">
      <div>Add Reassignment Reason</div>
    </div>
    <div class="pend-reason-body">
      <div class="pl-30 pr-30 mt-15">
        <div class="wrap-input100">
          <span class="label-input100">Reassignment Reason</span>
          <input class="input100" maxlength="30" (keyup.enter)="reason ? addReason() : ''" [(ngModel)]="reason" type="text" placeholder="Enter Reassignment Reason">
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="d-flex flex-end mt-15 pr-30">
        <div class="outline-btn-blue" (click)="reason ? addReason() : ''" [class.disabled]="!reason">Add</div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" [acceptButtonStyleClass]="'accept-button'" [rejectButtonStyleClass]="'reject-button'"></p-confirmDialog>
