<div class="wrap-manage-user mt-60">
  <div class="d-flex flex space-between">
    <div>
      <span class="section-title mr-0 ml-3">Routed Out{{ header }}</span>
      <span class="section-title-count" *ngIf="data?.length > 0">{{
        data.length
      }}</span>
    </div>
    <div class="d-flex flex space-between ml-776">
      <div class="search-bar d-flex space-between">
        <input
          type="text"
          class="search-input"
          (input)="
            scoreTable
              ? scoreTable.filterGlobal($event.target.value, 'contains')
              : ''
          "
          placeholder="Search Routed Out"
        />
        <img
          alt=" "
          src="./../../../assets/images-new/search.png"
          style="width: 20px; height: 20px; margin-top: 10px;"
        />
      </div>
    </div>
    <!-- <div class="outline-btn mr-30" (click)="exportExcel()">
      Export To Excel
    </div> -->
  </div>
  <div class="mt-30">
    <p-table
      [tableStyle]="{ 'table-layout': 'auto' }"
      #scoreTable
      dataKey="id"
      class="flexcolumn"
      [scrollable]="false"
      [responsive]="true"
      [columns]="cols"
      [value]="gridData"
      [paginator]="true"
      [rows]="5"
      [resizableColumns]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            id="col"
            [hidden]="!col.visible"
            *ngFor="let col of columns"
            style="min-width: 115px"
            [pSortableColumn]="col.field"
            [pSortableColumnDisabled]="col.field !== 'recordAge' ? true : false"
          >
            {{ col.header }}
            <p-sortIcon *ngIf="col.field === 'recordAge'" [field]="col.field">
            </p-sortIcon>
          </th>
        </tr> 
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="cols">
        <tr [pSelectableRow]="rowData">
          <td
            [style]="{ width: 'auto', display: col.display }"
            *ngFor="let col of cols"
            [hidden]="!col.visible"
          >
            <div>
              {{ rowData[col.field] }}
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr style="text-align: center;">
          <td [attr.colspan]="columns.length">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="mt-30 text-center mb-30" *ngIf="!gridData || gridData?.length < 1">
  <p>No Claims found.</p>
</div>
<p-confirmDialog
  [acceptButtonStyleClass]="'accept-button'"
  [rejectButtonStyleClass]="'reject-button'"
  [style]="{ width: '50vw' }"
></p-confirmDialog>
