<div class="d-flex">
  <p class="horizontal-axis" style="padding-top:15px;">Auditor Name</p>
  <div class="scroll-graph" style="max-height: 200px;">
    <google-chart
      *ngIf="isAgeRendered"
      #chart
      [title]="titleAge"
      [type]="typeAge"
      [data]="dataAge"
      [options]="optionsAge"
      (select)="isDataPresent ? openPopUp($event) : null"
      [columnNames]="columnNamesAge"
      [width]="widthAge"
      [height]="heightAge"
    >
    </google-chart>
    <div
      *ngIf="!isDataPresent"
      class="d-flex space-between justify-content-center"
    >
      <p-message severity="warn" text="No Data Present!"></p-message>
    </div>
  </div>
</div>
<p class="vertical-axis text-center">Transaction Count</p>
<form
  [formGroup]="countByProdVolGroup"
  class="position-relative"
  (ngSubmit)="onSubmitAge()"
>
  <div class="row d-flex pl-30 pr-30 space-between mt-10 position-relative">
    <div class="wrap-input100 w-100 mb-0 mr-30">
      <div class="label-input100">User Group Name</div>
      <p-multiSelect
        #userGrpSelect
        showTransitionOptions="225ms ease-out"
        [options]="userGrpList"
        pTooltip="User Group Names"
        tooltipPosition="bottom"
        formControlName="userGrpName"
        [virtualScroll]="true"
        (onChange)="validateUserGroups()"
        itemSize="30"
        defaultLabel="Select User Group"
        appendTo="body"
      ></p-multiSelect>
      <div class="error-msg" style="top:49px" *ngIf="getGroup.touched">
        <span class="mr-2" *ngIf="getGroup.hasError('required')"
          >Please select a user group.</span
        >
      </div>
    </div>
    <div class="wrap-input100 w-100 mb-0 mt-3">
      <div class="label-input100">Auditor Name</div>
      <p-multiSelect
        #AuditorSelect
        showTransitionOptions="225ms ease-out"
        [options]="auditorListArray"
        pTooltip="Enrollment Auditor"
        tooltipPosition="bottom"
        formControlName="auditorName"
        [virtualScroll]="true"
        (onChange)="validateAuditor()"
        itemSize="30"
        defaultLabel="Select Auditor"
        appendTo="body"
      ></p-multiSelect>
      <div class="error-msg" style="top:49px" *ngIf="getAuditorsSelect.touched">
        <span class="mr-2" *ngIf="getAuditorsSelect.hasError('required')"
          >Please select a auditor.</span
        >
      </div>
    </div>
  </div>
  <div class="row d-flex pl-30 pr-30 space-between mt-20 position-relative">
    <div class="wrap-input100">
      <div class="label-input100">Audit Completion Date Range</div>
      <p-calendar
        [maxDate]="maxDate"
        pTooltip="Audit Completion Date Range"
        tooltipPosition="bottom"
        (onClose)="countByProdVolGroup.invalid ? '' : validateDates()"
        selectionMode="range"
        rangeSeparator=" - "
        [readonlyInput]="true"
        [showIcon]="true"
        formControlName="dateRange"
        dateFormat="mm/dd/yy"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="1970:2099"
        appendTo="body"
      >
      </p-calendar>
    </div>
    <div class="error-msg" style="top:49px" *ngIf="getDateRange.touched">
      <span class="mr-2" *ngIf="getDateRange.hasError('inValidDate')"
        >Date range should not exceed six months.</span
      >
    </div>
  </div>
</form>
<p-dialog
  *ngIf="triggerZoom"
  width="800"
  height="450"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="triggerZoom"
  [transitionOptions]="'0ms'"
  header="Enrollment Audit Summary By Auditor"
>
  <div class="d-flex">
    <p class="horizontal-axis-enlarged mt-10" style="padding-top:50px;">
      Auditor Name
    </p>
    <div class="scroll-graph mt-10" style="max-height: 300px;">
      <google-chart
        *ngIf="isAgeRendered"
        #chart
        [title]="titleAge"
        [type]="typeAge"
        (select)="isDataPresent ? openPopUp($event) : null"
        [data]="dataAge"
        [options]="optionsAgeEnlarged"
        [width]="700"
        [height]="800"
        [columnNames]="columnNamesAge"
      >
      </google-chart>
    </div>
  </div>
  <div
    *ngIf="!isDataPresent"
    class="d-flex space-between justify-content-center"
  >
    <p-message severity="warn" text="No Data Present!"></p-message>
  </div>
  <p class="vertical-axis-enlarged text-center">Transaction Count</p>
</p-dialog>
<p-dialog
  *ngIf="editMode"
  [style]="{ width: '80vw', height: '80%', maxHeight: '800px' }"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="editMode"
  [transitionOptions]="'0ms'"
  header="Enrollment Audit Summary By Auditor ({{ auditorName }}-{{ action }})"
  (onHide)="closePopUp()"
>
  <app-enrollment-lead-dashboard-popup
    #gridView
    [editUser]="editUser"
    (cancelProcess)="this.editMode = false"
  >
  </app-enrollment-lead-dashboard-popup>
</p-dialog>
