.wrap-general, .wrap-claims-operations, .wrap-enrollment-operations{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    padding-bottom: 30px;
    color: #20558B;
  }
  .popup-header{
    color:#192A3E;
    font-size: 16px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #EBEFF2;
    padding: 0 30px;
  }
  .block-header{
    color:#20558B;
    font-size: 18px;
    font-weight: 600;
  }
  /* .sub-menu a{
    color: #20558B;
    background-image: linear-gradient(transparent calc(100% - 1px),#20558B 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .2s;
    cursor: pointer;
  }
  .sub-menu a:hover{
    background-size: 0 100%;
  } */

  .sub-menu {
    .link-wrapper {
      border-bottom: 1px solid #20558B;
      position: relative;
      a {
        color: #20558B
      }
      a::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        background: white;
      }
      a:hover {
        text-decoration: none;
        &::before {
          width: 100%;
        }
      }
    }
  }
  
  .w-25{
    width:25%;
  }