.container {
  width: 80px;
}

.both-label {
  width: 100%;
  position: absolute;
  top: 0;
  left: 14%;
  top: -18px;
}

.wrap-switch {
  position: relative;
  margin-right: 30px;
}
.cm-3-state-switch {
  position: relative;
  width: 100%;

  .toggle {
    position: absolute;
    margin-left: -9999px;
    display: block;
  }

  .toggle + label {
    position: absolute;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    width: 33.33%;
    height: 100%;
    z-index: 1;
    transition: background 0.4s;
  }

  .switch-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(4 88 145 / 0.1);
    border-radius: 100000px;
  }

  .thumb-button {
    position: relative;
    display: block;
    top: 8%;
    left: 2%;
    width: 25%;
    background-color: #045891;
    border-radius: 100%;
    transition: left 0.4s, background 0.6s;
  }

  .thumb-button:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  #state-1:checked ~ div > .thumb-button {
    left: 3%;
  }

  #state-2:checked ~ div > .thumb-button {
    left: 50% - 13%;
  }

  #state-3:checked ~ div > .thumb-button {
    left: 100% - 28%;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }
}

/*/////////////////////Header Starts//////////////*/
.promt-header {
  width: calc(100% - 84px);
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 3px 5px grey;
  height: 60px;
  line-height: 60px;
  position: fixed;
  z-index: 2;
  top: 0;
}
.breadcrumb-text {
  color: #939ba5;
  cursor: pointer;
}
.breadcrumb-text:hover {
  text-decoration: underline;
  color: #20558b;
}
.wrap-username {
  // width:180px;
  height: 20px;
  line-height: 45px;
}
.username {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #20558b;
  line-height: 14px;
  // width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.role {
  margin-top: 7px;
  font-size: 12px;
  font-weight: normal;
  color: #c2cfe0;
  line-height: 30px;
}
/*/////////////////////Header Ends//////////////*/

.header-dropdown {
  position: relative;
  .wrap-username {
    min-width: 120px;
    height: 31px;
  }
  .role {
    margin-top: -4px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: calc(100% + 50px);
    background-color: white;
    right: -3px;
    box-shadow: 0px 4px 4px grey;
    padding: 10px 20px;
    p {
      padding: 5px 0;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #20558b;
      }
      &:hover::after {
        width: 100%;
      }
      .noti-container {
        display: block;
      }
    }
  }
  &:hover {
    .dropdown-content,
    .noti-container  {
      display: block;
    }
  }
}
  /*--------------------------Notification-------------------------*/
.noti-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(50, 60, 71, 0.4);
  overflow: visible;
  position: absolute;
  top: 47px;
  margin-left: -31px;
  margin-top: 13px;
  width: calc(100% + 220px);
  min-height: 100px;
  max-height: 300px;
  color: #444;
  z-index: 2;
  display: none;
}
.wrap-noti-list{
overflow-y: scroll;
max-height: 300px;;
}
.noti-container:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #C7D5E2;
  border-color: transparent transparent #fff;
  margin-top: -20px;
  margin-left: 35px;
}
.noti-list{
padding:15px;
border-bottom: 1px solid #DFE0EB;
display: flex;
}
.noti-new{
background-color: rgb(32 85 139 / 0.05);;
}
.noti-title{
font-size: 16px;
font-weight: 600;
line-height: 20px;
}
.noti-date{
font-size: 12px;
font-weight: normal;
color: #969B9F;
line-height: 20px;
}
.noti-content{
margin-top: 10px;
font-size: 12px;
font-weight: normal;
color: #969B9F;
line-height: normal;
text-align: justify;
}
.noti-title-color-blue{
color: #20558B;
}
.noti-title-color-red{
color:#ff0000;
}
.noti-title-color-amber{
color: #F3B002;
}
/*------------------------Notification Ends---------------------*/
