.wrap-manage-user{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DFE0EB;
    padding-top: 30px;
    /* padding-bottom: 30px; */
  }
  /*----------------------------Search Bar Start-------------------------*/
  .search-bar{
    background-color: #F0F6FF;
    width: 250px;
    height:40px;
    color:#323C47;
    font-size: 14px;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 20px;
    &-with-dropdown {
      padding-right: 15px;
      background-color: #F0F6FF;
      border-radius: 20px;
      margin-right: 30px;
      font-size: 13px;
      .icon {
          padding: 8px 0px 8px 5px;
          color: #0066ff;
          cursor: pointer;
      }
      select, input{
        background-color: transparent;
        height:35px;
      }
      select {
        width: 125px;
        color:white;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        background-color:#0066FF;
        border-radius: 20px 0 0 20px;
        option{
          width: 120px;
          color:black;
          background-color:#efefef;
          border: none;
        }
      }
      input {
        width: 170px;
      }
    }
    .search-input {
      background-color: #F0F6FF;
      width:150px;
    }
  }
  /*----------------------------Search Bar End-------------------------*/
  .section-title{
    font-size: 18px;
    color: #20558B;
    margin-left:30px;
    font-weight: bold;
    line-height: 35px;
  }
  /* .section-title-count{
    font-size:14px;
    color: #9FA2B4;
  } */
  .wrap-row{
    position: relative;
    border-bottom: 1px solid #DFE0EB;
    height: 50px;
    line-height: 50px !important;
    .mu-hover{
      display: none;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
      // top: 0px;
      right: 0px;
      transition: 0.5s;
      box-shadow: -3px -0px 8px grey;
      padding: 0px 30px;
      padding-top: 10px;
      height:50px;
    }
    &:hover {
      .mu-hover {
        display: block;
      }
    }
  }
  .mu-name, .mu-username{
    width:15%;
    font-size: 14px;
    color: rgba(50, 60, 71, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
  }
  .link{
    color:#20558B !important;
    cursor: pointer;
  }
  .link:hover{
    text-decoration: underline;
  }
  .w-7{
    width:7% !important;
  }
  .mu-role, .mu-status, .mu-activation-date, .mu-deactivation-date, .mu-manager-name, .mu-user-group{
    width:10%;
    color: rgba(50, 60, 71, 0.7);
    font-size: 14px;
    text-decoration: none;
  }
  .user-type, .wrap-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-header{
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #DFE0EB;
    height: 50px;
  }

.result-no{
    color: #9FA2B4;
    font-size: 14px;
    line-height: 30px;
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    width:30px;
    height:30px;
    text-decoration: none;
    transition: background-color .1s;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
  }
  .pagination a:hover {
    background-color: #a0a0a0;
    color: white;
    border-radius: 50px;
  }
  
  .pagination a.active {
    background-color: #20558B;
    color: white;
    border-radius: 50px;
  }

  .inactive {
    border-left: 3px solid rgb(238, 44, 44);
    .color-status {
      color: rgb(238, 44, 44);
    }
  }

  .activate {
    border-left: 3px solid #2BB22D;
    .color-status {
      color: #2BB22D;
    }
  }

  .goingto {
    border-left: 3px solid rgb(250, 178, 11);
    .color-status {
      color: rgb(250, 178, 11);
    }
  }
  
  .inactive, .activate, .goingto {
    &.border-large {
      border-left-width: 5px;
    }
  }