#userList {
  .main-body {
    padding: 30px;
    height: 100vh;
  }

  .wrap-report {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .popup-header {
    color: #192a3e;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ebeff2;
    padding: 0 30px;
  }
  .w-25 {
    width: 25%;
  }
  .mr-30 {
    margin-right: 30px;
  }

  .mt-30 {
    margin-top: 30px;
  }
}
