<form class="pl-30 pr-30 mt-15" [formGroup]="resetForm">
    <div class="wrap-input100 mb-45">
        <span class="label-input100">Current Password</span>
        <input class="input100 input-password" formControlName="currentPassword" type="password" name="pass"
            placeholder="********">
        <span class="focus-input100"></span>
        <ng-container *ngIf="resetForm.get('currentPassword').touched && resetForm.get('currentPassword').invalid">
            <span class="error-msg" style="top: 51px;" *ngIf="resetForm.get('currentPassword').errors.required">
                Password is required
            </span>
        </ng-container>
    </div>
    <div class="wrap-input100 mb-45">
        <span class="label-input100">New Password</span>
        <input class="input100 input-password" formControlName="newPassword" type="password" name="pass"
            placeholder="********">
        <span class="focus-input100"></span>
        <div class="error-msg" style="top: 51px;" *ngIf="resetForm.get('newPassword').touched && resetForm.get('newPassword').invalid">
            <div *ngIf="resetForm.get('newPassword').errors.required">
                Password is required
            </div>
            <div *ngIf="resetForm.get('newPassword').errors.minlength">
                Password must be at leaset 8 characters
            </div>
            <div *ngIf="resetForm.get('newPassword').errors.maxlength">
                Password must be less than or equal to 18 characters
            </div>
            <div *ngIf="resetForm.get('newPassword').errors.password">
                <span style="word-wrap: break-word">
                    Password should contain atleast one special character, upper case letter, lower case letter and a number
                </span>
            </div>
        </div>
    </div>
    <div class="wrap-input100">
        <span class="label-input100 mb-45">Confirm Password</span>
        <input class="input100 input-password" formControlName="confirmPassword" type="password" name="pass"
            placeholder="********">
        <span class="focus-input100"></span>
        <div *ngIf="resetForm.get('confirmPassword').touched && resetForm.get('confirmPassword').invalid" style="top: 51px;" class="error-msg">
            <div *ngIf="resetForm.get('confirmPassword').errors.required">
                Confirm Password is required
            </div>
        </div>
        <div *ngIf="resetForm.get('confirmPassword').touched && resetForm.get('confirmPassword').valid && resetForm.errors && resetForm.errors['passwordMatch']" class="error-msg">
            Password entered does not match.
        </div>
    </div>
    <div class="d-flex flex-end">
        <div class="solid-btn disabled" [class.disabled]="resetForm.invalid"
            (click)="resetForm.invalid ? '' : onResetSubmit()">
            Reset</div>
    </div>
</form>