<div class="d-flex cursor-pointer mt-60" href="#">
    <div [routerLink]="'/admin-configuration'">
        <img alt=" " src="./../../../../../assets/images-new/left.png" style="margin-right: 15px; cursor: pointer;" />
    </div>
    <div>Back To Configuration</div>
</div>
<div class="wrap-claim-volume mt-30 w-100">
    <div class="section-title d-flex space-between">
        <div>Manage Work Category</div>
    </div>
    <div class="support-body">
        <div class="pl-30 row d-flex pr-30">
            <div class="col-3 d-flex mt-30" *ngFor="let workCat of workCategory">
                <p-checkbox [(ngModel)]="workCat.workCategoryConfigActive" [disabled]="workCat.disabled" [binary]="true" (onChange)="updateStatus(workCat, $event)"></p-checkbox>
                <div class="ml-10 claim-value">{{workCat.name}}</div>
            </div>
        </div>
    </div>
</div>