<div class="d-flex space-between ">
  <div class="section-label">{{ titlePend }}</div>
  <div>
    <img
      alt=" "
      src="./../../../assets/images-new/max.png"
      style="cursor: pointer;"
      (click)="showDialog()"
    />
  </div>
</div>
<div class="d-flex scroll-graph-x">
  <p class="horizontal-axis" style="padding-top:50px;">Pended Count</p>
  <google-chart
    *ngIf="isAgeRendered"
    #chart
    [title]="titleAge"
    [type]="typeAge"
    (select)="isDataPresent && isLead ? openPopUp($event) : null"
    [data]="dataAge"
    [options]="optionsAge"
    [columnNames]="columnNamesAge"
    [width]="widthAge"
    [height]="heightAge"
  >
  </google-chart>
</div>
<div
  *ngIf="!isDataPresent"
  class="ml-5 d-flex space-between justify-content-center"
>
  <p-message severity="warn" text="No Data Present!"></p-message>
</div>
<p class="vertical-axis text-center">Pended Records Ageing Bracket (Days)</p>
<div class="row d-flex" *ngIf="!isLead">
  <div class="excel-icon ml-5">
    <img
      alt=" "
      src="./../../../../assets/images-new/download-excel.png"
      (click)="downloadExcel()"
      pTooltip="Export to Excel"
      alt="Export"
    />
  </div>
</div>
<form
  *ngIf="isLead"
  [formGroup]="countByAgeGroup"
  class="position-relative"
  (ngSubmit)="onSubmitAge()"
>
  <div class="row d-flex pl-30 pr-30 space-between mt-10 position-relative">
    <div class="wrap-input100 w-100 mb-0 mr-30">
      <div class="label-input100">User Group Name</div>
      <p-multiSelect
        #userGrpSelect
        showTransitionOptions="225ms ease-out"
        [options]="userGrpList"
        pTooltip="User Group Names"
        tooltipPosition="bottom"
        formControlName="userGrpName"
        [virtualScroll]="true"
        (onChange)="validateUserGroups()"
        itemSize="30"
        defaultLabel="Select User Group"
        appendTo="body"
      ></p-multiSelect>
      <div class="error-msg" style="top:49px" *ngIf="getGroup.touched">
        <span class="mr-2" *ngIf="getGroup.hasError('required')"
          >Please select a user group.</span
        >
      </div>
    </div>
    <div class="wrap-input100 w-100 mb-0 mt-3">
      <div class="label-input100">Specialist Name</div>
      <p-multiSelect
        #SpecialistSelect
        showTransitionOptions="225ms ease-out"
        [options]="specialistListArray"
        pTooltip="Enrollment Specialist"
        tooltipPosition="bottom"
        formControlName="specialistName"
        [virtualScroll]="true"
        (onChange)="validateSpecialist()"
        itemSize="30"
        defaultLabel="Select Specialist"
        appendTo="body"
      ></p-multiSelect>
      <div
        class="error-msg"
        style="top:49px"
        *ngIf="getSpecialistsSelect.touched"
      >
        <span class="mr-2" *ngIf="getSpecialistsSelect.hasError('required')"
          >Please select a specialist.</span
        >
      </div>
    </div>
  </div>
</form>

<p-dialog
  *ngIf="enlargedDisplay"
  width="800"
  height="500"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="enlargedDisplay"
  [transitionOptions]="'0ms'"
  header="{{ titlePend }} "
  [(visible)]="enlargedDisplay"
>
  <div class="d-flex scroll-graph-x">
    <p class="horizontal-axis-enlarged" style="padding-top:150px;">
      Pended Count
    </p>
    <google-chart
      *ngIf="isAgeRendered"
      #chart
      [title]="titleAge"
      (select)="isDataPresent && isLead ? openPopUp($event) : null"
      [type]="typeAge"
      [data]="dataAge"
      [options]="optionsAgeEnlarged"
      [width]="widthAgeEnlarged"
      [height]="380"
      [columnNames]="columnNamesAge"
    >
    </google-chart>
  </div>
  <div
    *ngIf="!isDataPresent"
    class="ml-5 d-flex space-between justify-content-center"
  >
    <p-message severity="warn" text="No Data Present!"></p-message>
  </div>
  <p class="vertical-axis-enlarged text-center">
    Pended Records Ageing Bracket (Days)
  </p>
</p-dialog>

<p-dialog
  *ngIf="editMode"
  [style]="{ width: '80vw', height: '80%', maxHeight: '800px' }"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="editMode"
  [transitionOptions]="'0ms'"
  header="Pended Records Age ({{ age }} Days)"
  (onHide)="closePopUp()"
>
  <app-specialist-dashboard-pop
    #gridView
    [editUser]="editUser"
    (cancelProcess)="this.editMode = false"
  >
  </app-specialist-dashboard-pop>
</p-dialog>
