<div class="d-flex">
  <p style="padding-top: 10px;" class="horizontal-axis">Claims Examiners</p>
  <div class="scroll-graph" style="max-height: 160px; min-height: 160px;">
    <google-chart
      *ngIf="isExaminersRendered"
      #chart
      [title]="titleAudit"
      [type]="typeAudit"
      [data]="dataExaminer"
      [options]="optionsExaminerCount"
      [columnNames]="columnNamesAudit"
      [height]="heightAudit"
      [width]="widthAudit"
      (select)="selectBar($event)"
    >
    </google-chart>
  </div>
</div>
<p class="vertical-axis text-center">Failed Claim Count</p>
<div
  *ngIf="!isDataPresent"
  class="mr-3 d-flex space-between justify-content-center"
>
  <p-message severity="warn" text="No Data Present!"></p-message>
</div>
<form [formGroup]="examinerDates" (ngSubmit)="onSubmitExaminer()">
  <div class="d-flex mt-30">
    <div class="wrap-input100 mb-0">
      <div class="label-input100">Processed Date Range</div>
      <p-calendar
        [maxDate]="maxDate"
        pTooltip="Processed Date Range"
        tooltipPosition="bottom"
        (onClose)="validateDates()"
        appendTo="body"
        selectionMode="range"
        rangeSeparator=" - "
        [readonlyInput]="true"
        [showIcon]="true"
        formControlName="dateRange"
        dateFormat="mm/dd/yy"
        [monthNavigator]="true"
        [yearNavigator]="true"
        yearRange="1970:2099"
      >
      </p-calendar>
      <div
        style="  color: red;
    font-size: 11px;
    position: absolute;
    top:55px;"
        *ngIf="getDateRange.touched"
      >
        <span class="mr-2" *ngIf="getDateRange.hasError('required')"
          >Date range is required.</span
        >
        <span class="mr-2" *ngIf="getDateRange.hasError('inValidDate')"
          >Date range should not exceed six months.</span
        >
      </div>
    </div>
  </div>
</form>
<p-dialog
  *ngIf="enlargedDisplay"
  width="800"
  height="500"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="enlargedDisplay"
  [transitionOptions]="'0ms'"
  header="Low Productivity Instances"
  [(visible)]="enlargedDisplay"
>
  <div
    class="d-flex"
    [class.justify-content-center]="optionsExaminerCountEnlarged.width < 700"
  >
    <p style="padding-top:150px;" class="horizontal-axis-enlarged">
      Claims Examiners
    </p>
    <div class="scroll-graph-y" style="max-height: 400px;  min-height: 400px;">
      <google-chart
        *ngIf="isExaminersRendered"
        #chart
        [title]="titleAudit"
        [type]="typeAudit"
        [data]="dataExaminer"
        [options]="optionsExaminerCountEnlarged"
        [width]="700"
        [columnNames]="columnNamesAudit"
        [height]="400"
        (select)="selectBar($event)"
      >
      </google-chart>
    </div>
  </div>
  <div
    *ngIf="!isDataPresent"
    class="mr-3 d-flex space-between justify-content-center"
  >
    <p-message severity="warn" text="No Data Present!"></p-message>
  </div>
  <p class="vertical-axis-enlarged">Failed Claim Count</p>
</p-dialog>
<p-dialog
  *ngIf="detailsView"
  [style]="{ width: '90vw', height: '80%', maxHeight: '800px' }"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="detailsView"
  [contentStyle]="{ padding: 0, maxHeight: '100%' }"
  [transitionOptions]="'0ms'"
  header="{{ 'Failed Claims under ' + barDetails.examinerName }}"
>
  <div class="d-flex">
    <app-report-table
      class="w-100"
      header="{{ barDetails.type }}"
      [isChart]="true"
      [data]="chartDetails"
      [columns]="cols"
      (exportExcel)="downloadExcel()"
    ></app-report-table>
  </div>
</p-dialog>
