<div class="d-flex mt-60">
  <div class="wrap-claim-count col mr-15">
    <app-inventory-by-status></app-inventory-by-status>
  </div>
  <div class="wrap-claim-count col mr-15">
    <app-open-inventory-by-category></app-open-inventory-by-category>
  </div>
  <!-- <div class="wrap-claim-count col mr-15">
    <app-request-count-by-transaction></app-request-count-by-transaction>
  </div> -->
</div>

<div class="d-flex mt-30">
  <div class="wrap-claim-count col mr-15">
    <app-production-count-by-work-category></app-production-count-by-work-category>
  </div>
  <div class="wrap-claim-count mr-15">
    <app-productivity-by-transaction></app-productivity-by-transaction>
  </div>
</div>

<div class="d-flex mt-30">
  <div class="wrap-claim-count  w-50 mr-30">
    <div class="mt-10">
      <app-quality-score #hr1></app-quality-score>
    </div>
  </div>
  <div class="wrap-claim-count mr-15">
    <app-pended-request-age></app-pended-request-age>
  </div>
</div>

<div class="d-flex mt-30">
  <div class="wrap-claim-count mr-15">
    <app-production-count-by-transaction-category></app-production-count-by-transaction-category>
  </div>
  <div class="wrap-claim-count mr-15">
    <app-audit-transaction-trend></app-audit-transaction-trend>
  </div>
</div>

<div class="d-flex mt-30">
  <div class="wrap-claim-count mr-15">
    <app-rebuttal-status></app-rebuttal-status>
  </div>
</div>
