<div class="d-flex">
  <p class="horizontal-axis text-center">
    Claim Type
  </p>
  <div class="scroll-graph-y" style="min-height: 250px; max-height: 250px;">
    <google-chart
      *ngIf="isAuditRendered"
      #chart
      [title]="titleAudit"
      [type]="typeAudit"
      [data]="dataAudit"
      (select)="openPopUp($event)"
      [options]="optionsAudit"
      [width]="widthAudit"
      [columnNames]="columnNamesAudit"
      [height]="heightAudit"
    >
    </google-chart>
  </div>
</div>
<p class="vertical-axis">Claim Count</p>
<div
  *ngIf="!isDataPresent"
  class="mr-3 d-flex space-between justify-content-center"
>
  <p-message severity="warn" text="No Data Present!"></p-message>
</div>
<p-dialog
  *ngIf="enlargedDisplay"
  width="800"
  height="500"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="enlargedDisplay"
  [transitionOptions]="'0ms'"
  header="Claims Audited By Type And Status"
>
  <div class="d-flex">
    <p class="horizontal-axis-enlarged text-center">
      Claim Type
    </p>
    <div class="scroll-graph-y d-flex justify-content-center">
      <google-chart
        *ngIf="isAuditRendered"
        #chart
        [title]="titleAudit"
        [type]="typeAudit"
        [data]="dataAudit"
        (select)="openPopUp($event)"
        [options]="optionsAuditEnlarged"
        [width]="750"
        [height]="400"
        [columnNames]="columnNamesAudit"
      >
      </google-chart>
    </div>
  </div>
  <p class="vertical-axis-enlarged">Claim Count</p>
  <div
    *ngIf="!isDataPresent"
    class="mr-3 mb-3 d-flex space-between justify-content-center"
  >
    <p-message severity="warn" text="No Data Present!"></p-message>
  </div>
</p-dialog>
<p-dialog
  *ngIf="editMode"
  [style]="{ width: '80vw', height: '80%', maxHeight: '800px' }"
  modal="true"
  dismissableMask="true"
  [contentStyle]="{ padding: 0, maxHeight: '100%', overflowY: 'auto' }"
  [responsive]="true"
  [(visible)]="editMode"
  [transitionOptions]="'0ms'"
  header="Claims Audited By Type and Status - {{ this.editUser.claimType }} ({{
    this.editUser.paymentStatus
  }})"
  (onHide)="closePopUp()"
>
  <app-audited-claims-details
    #gridView
    class="w-100"
    header="Claims List"
    [editUser]="editUser"
    (cancelProcess)="this.editMode = false"
  >
  </app-audited-claims-details>
</p-dialog>
