<form [formGroup]="dateForm">
  <div class="d-flex space-between ">
    <div class="section-label">Production Volume By Transaction</div>
    <div>
      <img
        alt=" "
        src="./../../../../../assets/images-new/max.png"
        style="cursor: pointer;"
        (click)="displayEnlarged = true"
      />
    </div>
  </div>
  <div class="d-flex" *ngIf="data?.length > 0">
    <google-chart
      #chart
      class="d-flex justify-content-center w-100"
      [title]="title"
      [type]="type"
      (select)="openPopUp($event)"
      [data]="data"
      [options]="options"
      [height]="height"
      [width]="540"
    ></google-chart>
  </div>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 250px;"
    *ngIf="!data || data?.length < 1"
  ></div>
  <div class="d-flex mt-10">
    <div class="wrap-input100 w-100 mb-0">
      <div class="label-input100">Date Range</div>
      <p-calendar
        appendTo="body"
        (onClose)="dateForm.valid ? getData() : ''"
        selectionMode="range"
        rangeSeparator=" - "
        [readonlyInput]="true"
        [showIcon]="true"
        [monthNavigator]="true"
        [maxDate]="maxDate"
        formControlName="dateRange"
        [yearNavigator]="true"
        yearRange="1970:2099"
      ></p-calendar>
      <div
        class="error-msg"
        *ngIf="
          dateForm.controls.dateRange.touched &&
          dateForm.controls.dateRange.invalid
        "
      >
        <div *ngIf="dateForm.controls.dateRange.hasError('required')">
          Date Range is required.
        </div>
        <div *ngIf="dateForm.controls.dateRange.hasError('invalidDate')">
          Date Range should be less than 6 months.
        </div>
      </div>
    </div>
  </div>
</form>
<p-dialog
  width="800"
  height="500"
  modal="true"
  header="Production Volume By Transaction"
  [(visible)]="displayEnlarged"
  *ngIf="displayEnlarged"
>
  <div class="d-flex justify-content-center w-100">
    <div class="d-block">
      <google-chart
        [type]="'PieChart'"
        [data]="data"
        (select)="openPopUp($event)"
        [options]="optionsEnlarged"
        [height]="400"
        [width]="700"
      ></google-chart>
    </div>
  </div>
</p-dialog>
<p-dialog
  *ngIf="editMode"
  width="850"
  height="600"
  [style]="{ marginbottom: '20px' }"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="editMode"
  [transitionOptions]="'0ms'"
  header="Claim Details"
  (onHide)="closePopUp()"
>
  <app-specialist-dashboard-pop
    #gridView
    [editUser]="editUser"
    (cancelProcess)="this.editMode = false"
  >
  </app-specialist-dashboard-pop>
</p-dialog>
