<div class="d-flex cursor-pointer mt-60" href="#">
  <div>
    <img
      alt=" "
      src="./../../../../../assets/images-new/left.png"
      [routerLink]="'/actions'"
      style="margin-right: 15px; cursor: pointer;"
    />
  </div>

  <div>Back To Action Menu</div>
</div>
<div
  class="btn-claim mt-30"
  *ngIf="!claim"
  pTooltip="Get a new claim"
  [class.disabled]="claim"
  (click)="claim ? '' : getClaim()"
>
  <div>Get a Claim</div>
</div>

<div class="mt-30" *ngIf="!claim">
  <span style="color: red;"
    >Click on the Get a Claim button to load a claim.</span
  >
</div>

<div class="wrap-claim-details-accordian mt-30" *ngIf="claim?.claimId">
  <div class="tabs">
    <div class="tab">
      <div class="d-flex wrap-tab" for="chck1">
        <label
          class="tab-label claim-id-head mr-20"
          pTooltip="Open Claim in HRP"
          for="chck1"
          (click)="copyAndOpenHRP(claimId)"
          >Claim ID -
          <input
            style="position: absolute; top: 0; left: 0; opacity: 0;"
            value="{{ claim?.claimId }}"
            #claimId
          /><span id="claimId">{{ claim?.claimId }}</span></label
        >
        <div>
          <img
            alt=" "
            src="./../../../../../assets/images-new/copy.png"
            style="cursor: pointer;"
            pTooltip="Click to copy Claim ID"
            (click)="justCopy(claimId)"
          />
        </div>

        <label
          class="ml-auto rebuttal-style"
          *ngIf="claim?.currentLevel && claim?.currentLevel > 0"
          >Rebuttal Level - {{ claim?.currentLevel }}</label
        >
      </div>
      <div class="d-flex mt-30">
        <ng-container *ngFor="let col of cols; index as i">
          <div class="w-15" *ngIf="i < 6" [class.mr-30]="i < 5">
            <div class="label-placeholder">{{ col.header }}</div>
            <div class="label-value">{{ claim[col.field] }}</div>
          </div>
        </ng-container>
      </div>
      <div class="d-flex mt-20">
        <ng-container *ngFor="let col of cols; index as i">
          <div class="w-15" *ngIf="i > 5" [class.mr-30]="i < cols.length - 1">
            <div class="label-placeholder">{{ col.header }}</div>
            <div class="label-value">{{ claim[col.field] }}</div>
          </div>
        </ng-container>
      </div>
      <div class=" mt-20 mb-15">
        <div class="d-flex">
          <div class="attachment-comment-head new mr-auto">Auditor Review</div>
        </div>
        <div class="d-flex mt-20">
          <div class="w-50">
            <div class="d-flex">
              <div class="w-25 mr-30">
                <div class="label-placeholder">Auditor Name</div>
                <div class="label-value">{{ claim?.auditorName || "-" }}</div>
              </div>
              <div class="w-25 mr-30">
                <div class="label-placeholder">Error Type</div>
                <div class="label-value">{{ claim?.errorType || "-" }}</div>
              </div>
              <div class="w-25 mr-30">
                <div class="label-placeholder">Financial Impact</div>
                <div class="label-value">
                  {{ claim?.financialImpact || "-" }}
                </div>
              </div>
              <div class="w-25">
                <div class="label-placeholder">Amount ($)</div>
                <div class="label-value">{{ claim?.auditorAmount || "-" }}</div>
              </div>
            </div>
          </div>
          <div class="w-50 d-flex">
            <div class="w-50 mr-20">
              <div class="label-placeholder">Comments</div>
              <div class="label-value">
                {{ claim?.auditorAttachmentsComments?.comments || "-" }}
              </div>
            </div>
            <div class="w-40">
              <div class="label-placeholder">Attachments</div>
              <div
                *ngIf="
                  claim?.auditorAttachmentsComments?.attachments &&
                  claim?.auditorAttachmentsComments?.attachments.length > 0
                "
              >
                <div
                  class="d-flex link"
                  style="overflow: hidden; font-size: 12px;"
                  *ngFor="
                    let file of claim?.auditorAttachmentsComments?.attachments
                  "
                  (click)="downloadAttachment(file)"
                >
                  <div>
                    <img
                      alt=" "
                      src="./../../../../../assets/images-new/attach.png"
                      style="height: 16px;"
                    />
                  </div>
                  <div class="ml-10" title="{{ file.fileName }}">
                    {{ file.fileName }}
                  </div>
                </div>
              </div>
              <div
                class="claim-value"
                *ngIf="
                  !claim?.auditorAttachmentsComments?.attachments ||
                  claim?.auditorAttachmentsComments?.attachments.length < 1
                "
              >
                -
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex" *ngIf="claim?.claimId">
  <div class="left-content">
    <div class="wrap-auditor-review mt-30 mr-30">
      <div class="d-flex space-between">
        <div>
          <div class="claim-id-head">Workflow</div>
          <div class="d-flex mt-15">
            <div class="attachment-comment-head new">Accept/Rebut :</div>
            <div class="ml-25 attachment-comment-head">{{ claim?.status }}</div>
          </div>
        </div>
        <div
          class="wrap-input100 mb-0 w-150"
          *ngIf="
            claim?.attachmentsCommentsForAllUsers &&
            claim?.attachmentsCommentsForAllUsers.length > 0
          "
        >
          <span class="label-input100">Filter By Role</span>
          <select
            class="input100"
            name="pass"
            placeholder="Select Role"
            (change)="roleChange($event.target.value)"
            #role
          >
            <option value="" selected data-default>All</option>
            <option value="Claims Examiner">Claims Examiner</option>
            <option value="Claims Lead">Claims Lead</option>
            <option value="Claims Auditor">Claims Auditor</option>
            <option value="Manager">Manager</option>
          </select>
          <span class="focus-input100"></span>
        </div>
      </div>
      <div *ngIf="!role?.value">
        <ul  class="legend-list">
          <li class="examiner">Claims Examiner</li>
          <li class="lead">Claims Lead</li>
          <li class="manager">Manager</li>
          <li class="auditor">Claims Auditor</li>
        </ul>
      </div>
      <div class=" wrap-workflow mt-20">
        <div
          class="text-center label-value"
          *ngIf="
            !claim?.attachmentsCommentsForAllUsers ||
            claim?.attachmentsCommentsForAllUsers.length < 1
          "
        >
          No Comments & Attachments
        </div>
        <ol
          *ngIf="
            claim?.attachmentsCommentsForAllUsers &&
            claim?.attachmentsCommentsForAllUsers.length > 0
          "
        >
          <ng-container *ngIf="allUserCommentsAttachments[0].length > 0">
            <ul>
              <li class="level">
                <div class="level-wrapper">
                  <div class="tl-rebutal-level">&nbsp;Review&nbsp;</div>
                </div>
              </li>
              <li
                [class.manager]="review.userRole === 'Manager'"
                [class.lead]="review.userRole === 'Claims Lead'"
                [class.auditor]="review.userRole === 'Claims Auditor'"
                [class.examiner]="review.userRole === 'Claims Examiner'"
                *ngFor="let review of allUserCommentsAttachments[0]"
              >
                <div class="attachment-comment timeline-date new">
                  {{ review.timestamp }}
                </div>
                <div class="tl-role-name">{{ review.userName }}</div>
                <div class="attachment-comment">
                  {{ review.comments }}
                </div>
                <div class="mt-10" *ngIf="review.attachments">
                  <div class="d-flex">
                    <div
                      class="wrap-attachment d-flex"
                      *ngFor="let attachment of review.attachments"
                    >
                      <div>
                        <img
                          alt=" "
                          src="./../../../../../assets/images-new/attach.png"
                          style="width:16px; height:16px;"
                        />
                      </div>
                      <div
                        class="ml-10 attachment-label"
                        title="{{ attachment.fileName }}"
                        (click)="downloadAttachment(attachment)"
                      >
                        {{ attachment.fileName }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="allUserCommentsAttachments[3].length > 0">
            <ul>
              <li class="level">
                <div class="level-wrapper">
                  <div class="tl-rebutal-level">Rebuttal Level 3</div>
                </div>
              </li>
              <li
                [class.manager]="review.userRole === 'Manager'"
                [class.lead]="review.userRole === 'Claims Lead'"
                [class.auditor]="review.userRole === 'Claims Auditor'"
                [class.examiner]="review.userRole === 'Claims Examiner'"
                *ngFor="let review of allUserCommentsAttachments[3]"
              >
                <div class="attachment-comment timeline-date new">
                  {{ review.timestamp }}
                </div>
                <div class="tl-role-name">{{ review.userName }}</div>
                <div class="attachment-comment">
                  {{ review.comments }}
                </div>
                <div class="mt-10" *ngIf="review.attachments">
                  <div class="d-flex">
                    <div
                      class="wrap-attachment d-flex"
                      *ngFor="let attachment of review.attachments"
                    >
                      <div>
                        <img
                          alt=" "
                          src="./../../../../../assets/images-new/attach.png"
                          style="width:16px; height:16px;"
                        />
                      </div>
                      <div
                        class="ml-10 attachment-label"
                        title="{{ attachment.fileName }}"
                        (click)="downloadAttachment(attachment)"
                      >
                        {{ attachment.fileName }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="allUserCommentsAttachments[2].length > 0">
            <ul>
              <li class="level">
                <div class="level-wrapper">
                  <div class="tl-rebutal-level">Rebuttal Level 2</div>
                </div>
              </li>
              <li
                [class.manager]="review.userRole === 'Manager'"
                [class.lead]="review.userRole === 'Claims Lead'"
                [class.auditor]="review.userRole === 'Claims Auditor'"
                [class.examiner]="review.userRole === 'Claims Examiner'"
                *ngFor="let review of allUserCommentsAttachments[2]"
              >
                <div class="attachment-comment timeline-date new">
                  {{ review.timestamp }}
                </div>
                <div class="tl-role-name">{{ review.userName }}</div>
                <div class="attachment-comment">
                  {{ review.comments }}
                </div>
                <div class="mt-10" *ngIf="review.attachments">
                  <div class="d-flex">
                    <div
                      class="wrap-attachment d-flex"
                      *ngFor="let attachment of review.attachments"
                    >
                      <div>
                        <img
                          alt=" "
                          src="./../../../../../assets/images-new/attach.png"
                          style="width:16px; height:16px;"
                        />
                      </div>
                      <div
                        class="ml-10 attachment-label"
                        title="{{ attachment.fileName }}"
                        (click)="downloadAttachment(attachment)"
                      >
                        {{ attachment.fileName }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="allUserCommentsAttachments[1].length > 0">
            <ul>
              <li class="level">
                <div class="level-wrapper">
                  <div class="tl-rebutal-level">Rebuttal Level 1</div>
                </div>
              </li>
              <li
                [class.manager]="review.userRole === 'Manager'"
                [class.lead]="review.userRole === 'Claims Lead'"
                [class.auditor]="review.userRole === 'Claims Auditor'"
                [class.examiner]="review.userRole === 'Claims Examiner'"
                *ngFor="let review of allUserCommentsAttachments[1]"
              >
                <div class="attachment-comment timeline-date new">
                  {{ review.timestamp }}
                </div>
                <div class="tl-role-name">{{ review.userName }}</div>
                <div class="attachment-comment">
                  {{ review.comments }}
                </div>
                <div class="mt-10" *ngIf="review.attachments">
                  <div class="d-flex">
                    <div
                      class="wrap-attachment d-flex"
                      *ngFor="let attachment of review.attachments"
                    >
                      <div>
                        <img
                          alt=" "
                          src="./../../../../../assets/images-new/attach.png"
                          style="width:16px; height:16px;"
                        />
                      </div>
                      <div
                        class="ml-10 attachment-label"
                        title="{{ attachment.fileName }}"
                        (click)="downloadAttachment(attachment)"
                      >
                        {{ attachment.fileName }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
        </ol>
      </div>
    </div>
  </div>

  <div class="wrap-rebuttal-accept h-100 mt-30" *ngIf="claim?.claimId">
    <div class="claim-id-head">My Review</div>
    <div class="mt-30">
      <div class="wrap-input100 mr-30">
        <span class="label-input100">Comment</span>
        <textarea
          placeholder="Enter Comments"
          [attr.disabled]="!(this.claim && this.claim.claimId) ? '' : null"
          class="input100"
          [(ngModel)]="comments"
          maxlength="256"
        ></textarea>
        <span class="focus-input100"></span>
      </div>
      <app-file-input
        [input]="input"
        [maxNoOfFiles]="2"
        [disabled]="!claim"
        (download)="downloadAttachment($event)"
        (deleteFile)="deleteFile($event)"
      ></app-file-input>
      <div class="d-flex flex-end">
        <div
          class="outline-btn pend mr-30"
          [class.disabled]="!claim || !comments || routeTo"
          (click)="!claim || !comments || routeTo ? '' : submitOrPend(true)"
        >
          Pend
        </div>
        <div
          class="outline-btn route"
          [class.disabled]="!claim || !comments || routeTo"
          (click)="
            !claim || !comments || routeTo
              ? ''
              : submitOrPend(false, 'routeExaminer')
          "
        >
          Send to Examiner
        </div>
      </div>
      <div class="d-flex flex-end mt-20" *ngIf="claim && claim?.isRebut">
        <p-checkbox [(ngModel)]="routeTo" binary="true"></p-checkbox
        ><span class="ml-10 mr-30">Route to Manager</span>
        <div
          class="outline-btn route"
          [class.disabled]="!claim || !claim.isRebut || !comments"
          (click)="!claim || !claim.isRebut || !comments ? '' : rebut()"
        >
          Rebut
        </div>
      </div>
      <div class="d-flex flex-end mt-20" *ngIf="claim && claim?.isComplete">
        <div
          class="outline-btn complete"
          [class.disabled]="!claim || !claim?.isComplete || routeTo"
          (click)="
            !claim || !claim?.isComplete || routeTo
              ? ''
              : submitOrPend(false, 'reviewComplete')
          "
        >
          Review Complete
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog
  [acceptButtonStyleClass]="'accept-button'"
  [rejectButtonStyleClass]="'reject-button'"
  header="Confirmation"
></p-confirmDialog>
