<div class="d-flex cursor-pointer mt-60" href="#">
  <div [routerLink]="currentRole === 'Manager' ? '/configuration-menu' : '/admin-configuration'">
    <img alt = " " src="./../../../../../assets/images-new/left.png" style="margin-right: 15px; cursor: pointer;">
  </div>
  <div>Back To Configuration</div>
</div>
<div class="d-flex mt-30">
  <div class="wrap-pend-reason w-70 mr-30">
    <div class="d-flex space-between">
      <div>
        <span class="section-title">Route Reason</span><span *ngIf="routeReasonList?.length > 0" class="section-title-count">{{routeReasonList.length}}</span>
      </div>
      <div class="search-bar d-flex space-between mr-30">
        <input type="text" class="search-input" (input)="routeReasonTable ? routeReasonTable.filterGlobal($event.target.value, 'contains') : ''" placeholder="Search Route Reason">
        <img alt = " " src="./../../../../../assets/images-new/search.png" style="width: 20px; height: 20px; margin-top: 10px;">
      </div>
    </div>
    <div class="mt-30" *ngIf="routeReasonList?.length > 0">
      <p-table [tableStyle]="{ 'table-layout': 'auto' }" [columns]="cols" #routeReasonTable editMode="row"
        [value]="routeReasonList" [paginator]="true" [rows]="10" dataKey="routeReasonCode" [resizableColumns]="true"
        [scrollable]="false">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" id="{{ col.field }}">
              {{ col.header }}
            </th>
            <th id="th1">Edit</th>
            <th id="th2">Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <div class="wrap-input100 mb-0">
                    <input class="input100" type="text" name="name" [(ngModel)]="rowData.routeReason" maxlength="50" required
                      placeholder="Enter Route Reason">
                    <span class="focus-input100"></span>
                  </div>
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData.routeReason }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="wrap-input100 mb-0" *ngIf="editing">
                <select name="role" class="input100" [(ngModel)]="rowData.routeRoleDetails.id">
                  <option value="" selected hidden>Select Role</option>
                  <option *ngFor="let role of roleList" value="{{role.id}}">{{role.roleName}}</option>
                </select>
                <span class="focus-input100"></span>
              </div>
              <ng-container *ngIf="!editing">
                {{ rowData.routeRoleDetails?.name }}
              </ng-container>
            </td>
            <td style="width: 115px;">
              <div *ngIf="!editing">
                <img alt = " " src="./../../../../../assets/images-new/edit-form.png" pTooltip="Edit" pInitEditableRow
                  (click)="onRowEditInit(rowData, ri)" style="cursor: pointer;margin-top: 12px;">
              </div>
              <div *ngIf="editing">
                <em pSaveEditableRow class="pi pi-check" pTooltip="Save" (click)="onRowEditSave(rowData, ri)"
                  style="cursor: pointer; font-size: 30px; color:#20bc55; margin-top: 12px;"></em>
                <em pSaveEditableRow class="pi pi-times" pTooltip="Cancel" (click)="onRowEditCancel(ri)"
                  style="cursor: pointer; margin-left: 20px; margin-top: 12px;"></em>
              </div>
            </td>
            <td style="width: 115px;">
              <div>
                <img alt = " " src="./../../../../../assets/images-new/delete.png" pTooltip="Delete"
                  style="cursor: pointer; margin-top: 12px;" (click)="deleteRow(ri)">
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center" [attr.colSpan]="cols.length + 2">
              No reasons available.
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <div class="result-no">
            {{routeReasonList?.length > 0 ?
              ('Showing ' + (routeReasonTable?.filteredValue ? (routeReasonTable?.filteredValue?.length > 0 ? (state.first + 1) : 0) : (state.first + 1)) +' - ' +
              (
                (
                (state.first + state.rows) > (routeReasonTable?.filteredValue || routeReasonList)?.length ? ((routeReasonTable?.filteredValue || routeReasonList).length) : (state.first + state.rows)
                )| number
              ) + ' of '+ (routeReasonTable?.filteredValue || routeReasonList)?.length) : 'Showing 0 - 0 of 0'}}
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <div class="result-no d-flex">
            <div>Rows per page &nbsp; &nbsp;</div>
            <select class="input100 result-no" style="width: 50px;" [(ngModel)]="routeReasonTable.rows" [ngModelOptions]="{standalone: true}">
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>
          </div>
        </ng-template>
      </p-table>
    </div>
    <div class="mt-60 text-center" *ngIf="!routeReasonList || routeReasonList?.length < 1">
      <p>No Route Reasons Present!! Please Add A Route Reason.</p>
    </div>
  </div>

  <div class="wrap-pend-reason-form w-40">
    <div class="pend-reason-form-header d-flex space-between">
      <div>Add Route Reason</div>
    </div>
    <div class="pend-reason-body">
      <form [formGroup]="routeReasonGroup">
        <div class="pl-30 pr-30 mt-15">
          <div class="wrap-input100">
            <div class="label-input100" for="role">Role</div>
            <select name="role" class="input100" formControlName="role">
              <option value="" disabled hidden selected>Select Role</option>
              <option *ngFor="let role of roleList" value="{{role.id}}">{{role.roleName}}</option>
            </select>
            <div class="error-msg" style="top: 50px;" *ngIf="routeReasonGroup.controls.role.touched && routeReasonGroup.controls.role.invalid">
              Role is required.
            </div>
          </div>
        </div>
        <div class="pl-30 pr-30">
          <div class="wrap-input100">
            <span class="label-input100">Route Reason</span>
            <input class="input100" maxlength="50" (keyup.enter)="routeReasonGroup.valid ? addRouteReason() : ''" type="text"
              formControlName="routeReason" placeholder="Enter Route Reason">
            <span class="focus-input100"></span>
            <div class="error-msg" style="top: 60px;" *ngIf="routeReasonGroup.controls.routeReason.touched && routeReasonGroup.controls.routeReason.invalid">
              Route reason is required.
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex flex-end mt-15 pr-30">
        <div class="outline-btn-blue" (click)="routeReasonGroup.valid ? addRouteReason() : ''" [class.disabled]="routeReasonGroup.invalid">Add</div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmation" [acceptButtonStyleClass]="'accept-button'" [rejectButtonStyleClass]="'reject-button'"></p-confirmDialog>
