<div id="donutchart" class="w-100 h-100 d-flex justify-content-center">
  <google-chart
    #chart
    [title]="titleStatus"
    *ngIf="isStatusRendered"
    [type]="typeStatus"
    [data]="dataStatus"
    [options]="optionsStatus"
    [height]="heightStatus"
    [width]="widthStatus"
  >
  </google-chart>
</div>
<div
  *ngIf="!isDataPresent"
  class="mr-3 d-flex space-between justify-content-center"
>
  <p-message severity="warn" text="No Data Present!"></p-message>
</div>
<p-dialog
  *ngIf="displayEnlarged"
  width="800"
  height="500"
  modal="true"
  dismissableMask="true"
  [responsive]="true"
  [(visible)]="displayEnlarged"
  [transitionOptions]="'0ms'"
  header="Audit Sampling By Adjudication Type"
  [(visible)]="displayEnlarged"
>
  <div id="donutchart" class="w-100 h-100 d-flex justify-content-center">
    <google-chart
      #chart
      [title]="titleStatus"
      *ngIf="isStatusRendered"
      [type]="typeStatus"
      [data]="dataStatus"
      [options]="optionsStatusEnlarged"
      [width]="700"
      [height]="400"
    >
    </google-chart>
  </div>
  <div
    *ngIf="!isDataPresent"
    class="mr-3 d-flex space-between justify-content-center"
  >
    <p-message severity="warn" text="No Data Present!"></p-message>
  </div>
</p-dialog>
