<div class="mt-60">
  <div class="wrap-pend-reason">
    <div class="d-flex space-between">
      <div>
        <span class="section-title">Routed In Queue</span>
        <span *ngIf="routedClaimList?.length > 0" class="section-title-count">{{
          routedClaimList?.length
        }}</span>
      </div>
      <div class="d-flex mr-30">
        <div class="search-bar d-flex space-between">
          <input
            type="text"
            class="search-input"
            (input)="
              claimsTable
                ? claimsTable.filterGlobal($event.target.value, 'contains')
                : ''
            "
            placeholder="Search Subscriptions"
          />
          <img
            alt=" "
            src="./../../../assets/images-new/search.png"
            style="width: 20px; height: 20px; margin-top: 10px;"
          />
        </div>
      </div>
    </div>
    <div class="mt-30">
      <p-table
        dataKey="claimId"
        [columns]="cols"
        [value]="routedClaimList"
        [paginator]="true"
        [rows]="10"
        [resizableColumns]="true"
        [tableStyle]="{ 'table-layout': 'auto' }"
        #claimsTable
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" id="col">
              {{ col.header }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" id="col">
              <div
                class="wrap-input100 my-auto"
                style="min-width: 100px;"
                *ngSwitchCase="'subscriptionId'"
              >
                <input
                  class="input100"
                  type="text"
                  (input)="
                    claimsTable.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <span class="focus-input100"></span>
              </div>
              <div
                class="wrap-input100 my-auto"
                style="min-width: 100px;"
                *ngSwitchCase="'routeReason'"
              >
                <!-- <p-dropdown
                  appendTo="body"
                  [options]="routeReasonOptions"
                  [autoWidth]="false"
                  [style]="{
                    minWidth: '100px',
                    width: '100%',
                    overflow: 'visible'
                  }"
                  (onChange)="
                    claimsTable.filter($event.value, col.field, 'equals')
                  "
                > -->
                <input
                  class="input100"
                  type="text"
                  (input)="
                    claimsTable.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <!-- </p-dropdown> -->
              </div>
              <div
                class="wrap-input100 my-auto"
                style="min-width: 100px;"
                *ngSwitchCase="'transactionType'"
              >
                <input
                  class="input100"
                  type="text"
                  (input)="
                    claimsTable.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <span class="focus-input100"></span>
              </div>
              <div
                class="wrap-input100 my-auto"
                style="min-width: 100px;"
                *ngSwitchCase="'requestType'"
              >
                <input
                  class="input100"
                  type="text"
                  (input)="
                    claimsTable.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <span class="focus-input100"></span>
              </div>
              <div
                class="wrap-input100 my-auto"
                style="min-width: 100px;"
                *ngSwitchCase="'recordAge'"
              >
                <input
                  class="input100"
                  type="text"
                  (input)="
                    claimsTable.filter(
                      $event.target.value,
                      col.field,
                      col.filterMatchMode
                    )
                  "
                />
                <span class="focus-input100"></span>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <ng-container
                *ngIf="col.field === 'claimId'; else rowDataInterpolation"
                #rowDataLink
              >
                <a
                  href="javascript:void(0);"
                  [routerLink]="null"
                  [queryParams]="{ auditTaskId: rowData['auditTaskId'] }"
                  >{{ rowData[col.field] }}</a
                >
              </ng-container>
              <ng-template #rowDataInterpolation>
                {{ rowData[col.field] }}
              </ng-template>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <div class="result-no">
            {{
              routedClaimList?.length > 0
                ? "Showing " +
                  (claimsTable?.filteredValue
                    ? claimsTable?.filteredValue?.length > 0
                      ? state.first + 1
                      : 0
                    : state.first + 1) +
                  " - " +
                  ((state.first + state.rows >
                  (claimsTable?.filteredValue || routedClaimList)?.length
                    ? (claimsTable?.filteredValue || routedClaimList).length
                    : state.first + state.rows
                  ) | number) +
                  " of " +
                  (claimsTable?.filteredValue || routedClaimList)?.length
                : "Showing 0 - 0 of 0"
            }}
          </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <div class="result-no d-flex">
            <div>Rows per page &nbsp; &nbsp;</div>
            <select
              class="input100 result-no"
              style="width: 50px;"
              (click)="claimsTable.reset()"
              [(ngModel)]="claimsTable.rows"
              [ngModelOptions]="{ standalone: true }"
            >
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmDialog
  [acceptButtonStyleClass]="'accept-button'"
  [rejectButtonStyleClass]="'reject-button'"
  [style]="{ width: '50vw' }"
></p-confirmDialog>
